body {
  border: solid;
  box-shadow: 5px 5px 5px 5px lightgrey;
  border-color: grey;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30%;
  border-radius: 30px;
  text-align: center;
}
button {
  padding: 10px 20px;
  border-radius: 30px;
  border-color: #f990f2;
  box-shadow: 2px 2px 2px 2px #ffddfc;
  background-color: #f6acf2;
  border-style: double;
  margin-top: 10px;
  font-size: 15px;
}

#search-form {
  padding: 10px;
}

h1 {
  font-size: 45px;
  color: #282020;
}

#subtitle {
  font-size: 40px;
  color: #5b5454;
}
header {
  display: inline;
  text-align: center;
}
#information {
  font-size: 30px;
  color: #282020;
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
}
#sub-information {
  text-transform: capitalize;
}

#vibes {
  font-size: 15px;
}

h4 {
  text-align: left;
  margin-left: 10px;
  margin-top: 30px;
  font-size: 15px;
  color: #5b5454;
}

#future-forecast {
  margin-top: 20px;
  text-align: center;
  margin-left: 80px;
  font-size: 16px;
}

.weather-forecast-date {
  font-size: 16px;
  color: #5b5454;
}

#weather-forecast-temperature-max {
  color: #000000;
}

h6 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  color: #5b5454;
  text-align: center;
  padding-top: 20px;
}

.bits {
  padding-left: 0px;
  font-size: 20px;
  color: #5b5454;
}

#celsius-units,
#fahrenheit-units {
  padding: 8px 12px;
  border-radius: 30px;
  border-color: #f990f2;
  background-color: #f6acf2;
  box-shadow: 2px 2px 2px 2px #ffddfc;
  border-style: double;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  color: #5b5454;
}

#link {
  text-decoration: none;
  color: #5b5454;
}
